*.map
*.lss
*.sym
*.bak
.codelite
.clang
compile_commands.json
*.a
*.so
obj/
.*
version.h
config.h
*build-*/
work/
/visualstudio/libmodbuspp.vcxproj.user
/visualstudio/x64/Debug
/visualstudio/x64/Release
